services:
  blog:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blog
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
