services:
  blog:
    build:
      context: .
      dockerfile: Dockerfile.bun
    container_name: blog
    ports:
      - "8081:8081"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
